<p>Formulaire de notation</p>


<form action="/html/tags/html_form_tag_action.cfm">
    <fieldset class="form-group ">
        <label for="first_name">Id</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </fieldset>

    <fieldset class="form-group">
        <label for="first_name">Prénom</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </fieldset>

    <fieldset class="form-group">
        <label for="last_name">Nom</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </fieldset>

    <fieldset class="form-group">
        <label for="last_name">Cours</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </fieldset>

    <fieldset class="form-group">
        <label for="last_name">Session</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </fieldset>

    <fieldset class="form-group">
        <label for="last_name">Richesse du cours</label>
        <select class="form-control" id="sel1">
            <option *ngFor="let notation of notations">{{notation}}</option>
            <!-- <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option> -->
        </select>
    </fieldset>

    <fieldset class="form-group">
        <label for="last_name">Niveau adapté à vos attentes</label>
        <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </fieldset>

    <button type="submit" class="btn bg-red">Envoyer</button>
</form>