<header>
  <nav class="navbar navbar-expand-sm bg-red navbar">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="./assets/rating.png" alt="logo" style="width:40px;">
    </a>
    <a class="navbar-brand" href="#" routerLink="/home">Rate'n Co</a>

    <!-- Links -->
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/stagiaire">Stagiaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/intervenants">Intervenants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin">Administration</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">

  <h1>
    Welcome to {{ title }} !
  </h1>

  <router-outlet></router-outlet>
</div>


<nav class="navbar fixed-bottom navbar-expand-sm navbar bg-red">
  <ul class="navbar-nav mr-auto mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">&copy; Rate'n Co-2019 &copy;</a>
    </li>
  </ul>
</nav>